DIV.link {
  border: 2px solid rebeccapurple;
  padding: 50px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

ul {
  border: 2px solid rebeccapurple;
  margin: 25px;
}
