html {
  display:flex;
  margin: auto;
  background-color: #c3d9f2;
}

body {
  flex-direction: column;
  margin: auto;
  width: 1000px;
}   

ul {
  text-align: center;
}

.banner {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.banner img {
  display: flex;
  position: relative;
  width: 200px;
  top: 200px;
}

.navigation {
  position:absolute;
  background: deepskyblue;
  left: 140px;
  height: 100%;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #c3d9f2;
}

section {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: deepskyblue;
  height: 100%;
  top:0;
  right:0;
  padding: 1em;
  color: rgb(27, 71, 102);
}

h1 {
  font-family: cursive;
  color: rgb(27, 71, 102);
  border: 5px solid deepskyblue;
  display: flex;
  font-size: 100px;
  padding-right: 200px;
}

h2 {
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 75px;
  font-size: 50px;
  width: 300px;
}

h3 {
  color: deepskyblue;
  font-size: 25px;
  font-family:fantasy;
  margin-bottom: 25px;
  
}

section ul {
  font-family:fantasy;
  position: relative;
  flex-direction: column;
  justify-content: center;
  display:flex;
  left: 20px;
  height: 175px;
  text-align: left;
  padding-left: 5px;
  background-color: #c3d9f2;
}

tbody {
  border: solid 5px black;
  text-align: center;
  margin: auto;
}

tr {
  border: solid 2px black;
}

td{
  margin-right: 30px;
}
